<?xml version="1.0"?>
<launch>  
    <!-- Directory for the px4 fimware -->
    <arg name="bag_dir" default="$(find drone_aruco_landing)/rosbags/UAST_w19/manual_flight_rosbag.bag"/>
    <node pkg="drone_aruco_landing" name="simplify_track"  type="SimplifyTrack.py" args="$(arg bag_dir)" output="screen" /> 

</launch>
